nougat-ocr==0.1.17
marker-pdf>=0.1.3,<=1.0.2
transformers==4.38.1
albumentations==2.0.8 # formerly 1.1...
#albucore==0.0.16 # transitiive from albumentations, no pin
PyMuPDF>=1.23.20
pypdf>=4.0.0
pytesseract>=0.3.13
fasttext==0.9.3
scikit-learn>=1.5.0
datasets>=3.0.0
parsl==2025.3.10
#accelerate==0.34.2 # causes condlicts
